ul,
li {
  list-style: none;
}
.fn-clear {
  overflow: hidden;
}
.fl {
  float: left;
}
#grid1 {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#grid1 .fn-clear {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}
#grid1 .fn-clear .fl {
  flex-grow: 1;
  font-size: 16px;
  text-align: center;
  width: 13%;
}
#grid1 .fn-clear .fl:not(:last-child) {
  border-right: 1px solid #ccc;
  line-height: 30px;
}
#grid1 > .fn-clear {
  background: #f4f4f4;
}
.chooselist input {
  vertical-align: middle;
}
.chooselist #choose,
.chooselist #restart {
  font-size: 16px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  color: #333;
  padding: 4px 8px;
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
}
#status h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#status > .fl {
  width: 49%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
